
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Feel free to change this */
  }
  /* Custom styles for your main content */
  #main-content {
    padding: 20px;
    text-align: center;
  }